

@media (max-width: 786px){
    .navbar ul{
        display: none;

    }

    h1 a{
        font-size: 1.6rem;
    }

    .navbar ul.active{
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #1e293b;
        padding-top: 30px;
    }


    .mobile-menu{
        display: flex;

    }

    input{
        width: 100%;
    }

    .search-btn{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }


}
